body {
  font-family: "Source Sans Pro", sans-serif;
  color: #333333; }

.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box; }

a {
  color: #333333;
  text-decoration: none; }

p {
  margin: 0 0 20px; }

.header-wrapper {
  padding: 24px 0 24px;
  border-bottom: 1px solid #ededed; }
  .header-wrapper .share-icon,
  .header-wrapper .logo,
  .header-wrapper .menu-icon {
    display: block;
    float: left;
    width: 33.333%; }
  .header-wrapper .share-icon {
    text-align: left; }
  .header-wrapper .menu-icon {
    text-align: right; }
  .header-wrapper img {
    display: block;
    margin: 0 auto; }
  .header-wrapper i {
    font-size: 30px;
    padding: 40px 0px; }

.banner-wrapper {
  background-image: url(/img/home_banner.jpg);
  background-size: cover;
  background-position: 50% 50%;
  min-height: 500px; }
  .banner-wrapper .banner-text {
    padding: 204px 0px; }
  .banner-wrapper h1 {
    font-size: 2.8em;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 1; }
  .banner-wrapper h1 span {
    display: block;
    font-weight: 200; }

.homepage-three {
  padding: 50px 0px; }
  .homepage-three .col {
    float: left;
    width: 100%;
    max-width: 304px;
    margin-right: 20px;
    text-align: center; }
  .homepage-three .last.col {
    margin-right: 0; }
  .homepage-three i {
    font-size: 36px;
    margin-bottom: 10px; }
  .homepage-three h2 {
    font-size: 1.8em;
    line-height: 1.2;
    margin: 0 0 10px; }
  .homepage-three a {
    display: inline-block;
    color: #fff;
    padding: 10px;
    background-color: #333333;
    border-radius: 4px;
    min-width: 118px; }

.homepage-blog {
  background-image: url(/img/home_banner.jpg);
  background-size: cover;
  background-position: 50% 50%;
  min-height: 500px; }
  .homepage-blog .col {
    float: left;
    width: 100%;
    max-width: 470px;
    margin-right: 20px;
    padding: 30px;
    background-color: #fff;
    box-sizing: border-box; }
  .homepage-blog .last.col {
    margin-right: 0;
    background-color: transparent;
    padding: 0; }
  .homepage-blog .container {
    padding: 60px 20px 30px; }
  .homepage-blog .projects,
  .homepage-blog .blogs {
    position: relative;
    padding: 20px;
    min-height: 257px; }
  .homepage-blog .projects {
    color: #fff;
    background-color: #333333;
    margin-bottom: 20px; }
  .homepage-blog .projects h4,
  .homepage-blog .blogs h4 {
    font-size: 1.8em;
    margin: 0;
    font-weight: 600; }
  .homepage-blog .projects h4 span,
  .homepage-blog .blogs h4 span {
    font-weight: 200; }
  .homepage-blog .projects h5,
  .homepage-blog .blogs h5 {
    font-size: 1.2em;
    margin: 0 0 17px;
    font-weight: 600; }
  .homepage-blog .projects p,
  .homepage-blog .blogs p {
    margin: 0 0 10px;
    line-height: 1.2; }
  .homepage-blog .blogs {
    color: #333333;
    background-color: #fff; }
  .homepage-blog img {
    display: block;
    margin: -60px auto 20px; }
  .homepage-blog h3 {
    font-size: 2.3em;
    margin: 0 0 10px;
    text-align: center; }
  .homepage-blog p span {
    font-size: 1.6em;
    font-weight: 600;
    line-height: 1.1; }
  .homepage-blog .tags {
    margin-bottom: 10px; }
  .homepage-blog .drops i {
    margin-right: 5px; }
  .homepage-blog .drops {
    float: left;
    position: absolute;
    bottom: 20px; }
  .homepage-blog .nav-arrows {
    text-align: center;
    font-size: 28px;
    position: absolute;
    right: 20px;
    bottom: 20px; }
  .homepage-blog .nav-arrows i {
    margin-left: 5px; }

/*# sourceMappingURL=style.css.map */
