$text_black: #333333; 
$font_stack: 'Source Sans Pro', sans-serif;

body{
		font-family: $font_stack;
		color: $text_black;
}

.container{
	max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

a {
	color: $text_black; 
	text-decoration: underline; 
}

p{
	margin: 0 0 20px;
}

.header-wrapper{

   padding: 24px 0 24px;
   border-bottom: 1px solid #ededed;

	.share-icon,
	.logo, 
	.menu-icon{
		display: block;
		float: left; 
		width: 33.333%;
	}

	.share-icon{
		text-align: left; 
	}

	.menu-icon{
		text-align: right; 
	}

	img {
	    display: block;
	    margin: 0 auto;
	}

	i{
		font-size: 30px;
		padding: 40px 0px;
	}

}

.banner-wrapper{

    background-image: url(/img/home_banner.jpg);
    background-size: cover;
    background-position: 50% 50%;
    min-height: 500px;

    .banner-text {
	    padding: 204px 0px;
	}

    h1{
	    font-size: 2.8em;
	    font-weight: 600;
	    color: #fff;
	    text-align: center;
	    margin: 0;
	    line-height: 1;
    }

    h1 span{
    	display: block; 
		font-weight: 200; 
    }

}

.homepage-three{

    padding: 50px 0px;

	.col{
		float: left; 
		width: 100%;
		max-width: 304px;
		margin-right: 20px;  
		text-align: center; 
 	}

 	.last.col{
 		margin-right: 0; 
 	} 	 

 	i{
		font-size: 36px;
		margin-bottom: 10px;
	}

	h2{
		font-size: 1.8em; 
		line-height: 1.2;
	    margin: 0 0 10px;
	} 

	a{
	    display: inline-block;
		color: #fff;
		padding: 10px; 
		background-color: $text_black;
		border-radius: 4px;
    	min-width: 118px;
    	text-decoration: none; 
	}

}

.homepage-blog{

	background-image: url(/img/home_blog.jpg);
    background-size: cover;
    background-position: 50% 50%;
    min-height: 500px;

    .col{
    	float: left;
	    width: 100%;
	    max-width: 470px;
	    margin-right: 20px;
	    padding: 30px;
	    background-color: #fff;
	    box-sizing: border-box;
	    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.1);
    	-moz-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.1);
    	-webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.1);
    }

    .last.col{
    	margin-right: 0; 
    	background-color: transparent;
    	padding: 0;
    	box-shadow: none; 
    	-moz-box-shadow: none;
    	-webkit-box-shadow: none;
    }

    .container{
	    padding: 60px 20px 30px;
    }

    .projects,
    .blogs{
    	position: relative;
    	padding: 20px;
    	min-height: 264px;
    	box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.1);
    	-moz-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.1);
    	-webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.1);
    }

    .projects{
    	color: #fff;
    	background-color: $text_black;
    	margin-bottom: 20px;
    }

    .projects h4,
    .blogs h4{
    	font-size: 1.8em; 
	    margin: 0 0 10px;
    	font-weight: 600;
    }

    .projects h4 span,
    .blogs h4 span{
    	font-weight: 200;
    }

    .projects h5,
    .blogs h5{
    	font-size: 1.2em; 
    	margin: 0 0 5px;
	    font-weight: 600;
    }

    .projects p,
    .blogs p{
    	margin: 0 0 10px;
    	line-height: 1.2;
    }

    .blogs{
    	color: $text_black;
    	background-color: #fff;
    }

    img{
	    display: block;
        margin: -60px auto 20px;
    }

    h3{
    	font-size: 2.3em; 
    	margin: 0 0 10px; 
    	text-align: center; 
    }
    p{

    }
  	p span {
	    font-size: 1.6em;
    	font-weight: 600;
    	line-height: 1.1;
	}

	.tags {
	    margin-bottom: 10px;
	}

	.drops i {
		margin-right: 5px; 
	}

	.drops {
	    float: left;
	    position: absolute;
	    bottom: 20px;    
	}

	.nav-arrows{
	    text-align: center;
	    font-size: 28px;
	    position: absolute;
	    right: 20px;
	    bottom: 10px;
	}
	.nav-arrows i{
		margin-left: 5px;
	}

}

.form-section{

	padding: 50px 0px;
	
	.col{
		width: 100%;
		text-align: center; 
	}

	h6{
		font-size: 2.3em; 
		font-size: 600;
		margin: 0 0 20px; 
	}

	i{
		margin-right: 10px; 
	}

	p{
	    font-size: 1.6em;
	    font-weight: 200;
	}

	.form-50 {
		width: 49%; 
		float: left; 
		margin-right: 2%; 
		margin-bottom: 2%; 
	}

	.last.form-50 {
		margin-right: 0;
	}

	.form-50 input{
		width: 100%;
		padding: 10px; 
		box-sizing: border-box;
		background-color: #ededed;
	    border: 0;
	}   

	.form-50 input:focus,
	.form-100 input:focus,
	.form-100 textarea:focus{
		outline: $text_black auto 5px;
	}

	.form-100{
	    float: left;
	    width: 100%;
	    margin-bottom: 2%;
	}

	.form-100 textarea{
		width: 100%;
		min-height: 200px;
		padding: 10px; 
		border: 0; 
		color: $text_black;
		background-color: #ededed;
		box-sizing: border-box;
	}

	.form-100 input{
		display: inline-block;
		border: 0; 
		background-color: $text_black;
		color: #fff;
		padding: 10px 50px; 
	    border-radius: 4px;
	}

}

.page-intro{

    padding: 30px 0px 0px;
	
	h1{
		font-weight: 200;
		color: $text_black;
	    text-align: center;
	    font-size: 2.4em;
	    margin: 0 0 20px; 
	    line-height: 1;
	}

	h1 span{
		display: block;
		width: 100%;
		font-weight: 600;
	} 

	p{
	    font-size: 1.4em;
	    text-align: center;
	    color: $text_black;
	    max-width: 800px;
	    display: block;
	    font-weight: 200;
	    margin: 0 auto;
	}

	p:after{
		content: ' ';
	    display: block;
	    width: 60px;
	    height: 1px;
	    background-color: $text_black;
	    margin: 30px auto;
	}

	img{
	    max-width: 400px;
    	display: block;
	    margin: 0 auto 15px;
	}

}

.services{

	padding: 60px 0 30px;
	background-color: $text_black;
	color: $text_black;

	.col{
		position: relative;
		float: left; 
		width: 100%; 
	    background-color: #fff;
	    box-sizing: border-box;
	}

	.sub-col{
		width: 50%;
		margin-right: 0px;
		padding: 20px;
		box-sizing: border-box;
		min-height: 350px;
		background-color: #fff;
	}

	.last.sub-col{
		position: absolute;
		margin: 0;
		background-color: red;
		width: 50%;
		top: 0;
		right: 0;
		bottom: 0;
		background-image: url('/img/services.jpg');
	}

	h2{
		display: inline-block; 
	    font-size: 1.8em;
	    line-height: 1;
	     margin: 0 0 30px;
	}

	.col i{
		display: inline-block; 
	   	font-size: 46px;
	   	margin-right: 10px;
	   	margin-bottom: 30px;
	}

	.nav{
		float: left;
	    width: 100%;
	    color: #fff;
	    text-align: center;
	    margin: 30px 0 0px;
	}

}

.body-content{

	padding: 30px 0px;
	text-align: center; 

	.col{
		width: 100%; 
		box-sizing: border-box; 
	}

	h3{
		margin-top: 0px;
    	font-size: 2.3em;
    	margin-bottom: 20px;
    	line-height: 1;
	}

}

footer{

	background-color: $text_black; 
	color: #fff;

	a{
		color: #fff; 
		text-decoration: none; 
	}

	.container{
		padding: 30px 20px; 
	}

	.col{
		float: left; 
		width: 69%; 
		margin-right: 2%; 
	}

	.last.col{
		width: 29%; 
		margin-right: 0%; 
	}

	i{
		margin-right: 5px; 
	}

	.last i {
		font-size: 32px !important;
	}

	h6{
		font-size: 1.6em;
	    margin: 0px 0 10px;
	}

	p{
		margin: 0;
		font-weight: 400;
	}

}